<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated assignment1 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="pt.isep.edom.assignment1.presentation.Assignment1ModelWizardID"
            name="%_UI_Assignment1ModelWizard_label"
            class="pt.isep.edom.assignment1.presentation.Assignment1ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/Assignment1ModelFile.gif">
         <description>%_UI_Assignment1ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated assignment1 -->
      <editor
            id="pt.isep.edom.assignment1.presentation.Assignment1EditorID"
            name="%_UI_Assignment1Editor_label"
            icon="icons/full/obj16/Assignment1ModelFile.gif"
            extensions="assignment1"
            class="pt.isep.edom.assignment1.presentation.Assignment1Editor"
            contributorClass="pt.isep.edom.assignment1.presentation.Assignment1ActionBarContributor">
      </editor>
   </extension>

</plugin>
